body {
    background-color: #222222;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

main {
    text-align: center;
    justify-content: center;
}

input {
    display: block;
    width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 100pt;
}
